.hangout-title {
    width: 100%;
    height: 75px;
    background-color: rgb(61, 1, 87);
    color: white;
    font-size: 36pt;
    text-align: center;
    margin-bottom: 30px;
  }

  body {
    background-color: rgb(250, 245, 255);
  }