.hangout-title {
    width: 100%;
    height: 75px;
    background-color: #3d0157;
    color: white;
    font-size: 36pt;
    text-align: center;
    margin-bottom: 30px;
  }

  body {
    background-color: rgb(250, 245, 255);
  }

  .progress-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

