.event {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(61, 1, 87);
}

.date {
    text-align: right;
    padding-bottom: 10px;
    font-size: 14pt;
}

.date, .desc {
    padding: 5px;
}
