  .login-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .login-container, .account-container {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .vLine {
    border-left: 2px solid rgb(61, 1, 87);
    height: 425px;
  }

  .login-title, .account-title {
    font-size: 24pt;
    padding-bottom: 30px;
    text-align: center;
  }
  
  .login-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .user-input {
    width: 150px;
    margin: 5px 10px 20px 10px;
  }
  
  .submit-button {
    background-color: rgb(61, 1, 87);
    color: white;
    border-radius: 5em;
    padding: 5px;
    width: 150px;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    background-color: black;
  }
  